/* Base Styles */
html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	background-color: #161616;
	color: #e2e2e2;
	font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif
}

/* nav */
.container {
	width: 80%;
	margin: 0 auto;
}

header {
	background-color: #000000;
}

header::after {
	content: '';
	display: table;
	clear: both;
}

.logo {
	float: left;
	padding: 10px 0;
}

nav {
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 70px;
	padding-top: 23px;
	position: relative;
}

nav a {
	color: #e2e2e2;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.5em;
}

nav a:hover {
	color: #ff0000;
	text-decoration: underline;
}

nav img {
    width: 1.75em;
    height: 1.75em;
}

.active {
	color: #2aca36;
	text-decoration: underline;
}

/* Main */

/* Home */
.main-img img{
	display: block;
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;
}

.articles {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	max-width: 30%;
}

.articles h4 {
	font-size: 1.5em;
}

.articles p {
	font-size: 1.25em;
	color: #a4a4a4;
}

.articles a {
	display: inline-block;
	font-size: 1em;
	background-color: #e2e2e2;
	color: #2b2928;
	text-decoration: none;
	padding: 1em;
}

.newsletter {
	display: block;
	margin-top: 3em;
	background-color: #000000;
	padding: 2em;
	text-align: center;
}
.newsletter h4 {
	font-size: 2.5em;
}

.newsletter p {
	font-size: 1.25em;
	color: #a4a4a4;
}

.newsletter form {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#newsletter_email {
	min-width: 65%;
	background-color: #161616;
	color: #a4a4a4;
	border: none;
	padding: 1em;
	font-size: 1.25em;
}

#newsletter_submit {
	background-color: #f9f5f2;
	color: #2b2928;
	border: none;
	padding: 1em;
	font-size: 1.25em;
}

/* Video */

.video_title {
	text-align: center;
	font-size: 2em;
	margin-top: 1em;
	margin-bottom: -3em;
}

.video {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	gap: 1.5em;
	margin-top: 10em;
}

iframe {
	border-width: 0px;
} 

/* Merchandise */

.merchandise_title {
	text-align: center;
	font-size: 2em;
	margin-top: 1em;
	margin-bottom: -3em;
}

.products {
	margin-top: 10em;
	max-width: 65%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-flow: row wrap;
	gap: 5em 5em;
	justify-content: center;
}

.products img {
	width: 20em;
	height: 20em;
}

.products p {
	font-size: 1.25em;
	text-decoration: none;
	color: #e2e2e2;
}

/* Contact */

.contact, .social {
	margin-top: 5em;
	text-align: center;
}

.contact h2, .social h2{
	font-size: 2.5em;
	color: #f9f5f2;
}

.contact h4 {
	font-size: 2em;
	color: #f9f5f2;
}

.contact p {
	font-size: 1.5em;
	color: #f9f5f2;
	max-width: 40%; 
	margin-right: auto;
	margin-left: auto;
}

#contact_name, #contact_email, #contact_message {
	display: block;
	min-width: 40%;
	margin-left: auto;
	margin-right: auto;
	background-color: #000000;
	color: #a4a4a4;
	border: none;
	padding: 1em;
	font-size: 1.1em;
}

#contact_message {
	padding-bottom: 10em;
}

#contact_submit {
	background-color: #f9f5f2;
	color: #2b2928;
	border: none;
	padding: 1em 2em 1em 2em;
	font-size: 1.25em;
}

.social {
	display: block;
	background-color: #000000;
	padding: 2em;
}

.social img {
	height: 3em;
	width: 3em;
	padding-right: 2em;
	padding-bottom: 2em;
}

.shirt1 img {
	float: left;
	height: 30%;
	width: 30%;
	margin-left: 15%;
	margin-top: 5em;
}

/* Product */

.product {
	margin-top: 5em;
	max-width: 65%;
	margin-left: auto;
	margin-right: auto;
}

.product img {
	height: 20em;
	width: 20em;
	float: left;
	padding-right: 5em;
}

.product h4 {
	font-size: 2em;
}

.product p {
	font-size: 1.25em;
}

#shirt1_submit, #shirt2_submit, #shirt3_submit, #mug1_submit, #pen1_submit, #video1_submit {
	background-color: #f9f5f2;
	color: #2b2928;
	border: none;
	padding: 1em 2em 1em 2em;
	font-size: 1.25em;
	margin-bottom: 8em;
}

/* Shopping Cart */

.checkout {
	margin-top: 5em;
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.checkout a{
	text-decoration: none;
	color: #f9f5f2;
	background-color: #000000;
	padding: 1em;
	font-size: 1.5em;
}

.checkout img {
	height: 15%;
	width: 15%;
}

.checkout td, .checkout th {
	text-align: center;
	padding: 1em;
	font-size: 1.5em;
}

.checkout p {
	display: flex;
	font-size: 1.5em;
	justify-content: flex-end;
	padding: 1em;
}

.checkout_form {
	display: flex;
	justify-content: space-evenly;
}

#coupon_code {
	min-width: 40%;
	background-color: #000000;
	color: #a4a4a4;
	border: none;
	padding: 1em;
	font-size: 1.1em;
}

#coupon_submit {
	background-color: #f9f5f2;
	color: #2b2928;
	border: none;
	padding: 1em;
	font-size: 1.1em;
}

#update_cart, #checkout {
	background-color: #f9f5f2;
	color: #2b2928;
	border: none;
	padding: 1em;
	font-size: 1.1em;
}

.mobile {
	display: none;
}

/* Account */

.account {
	margin-top: 5em;
	gap: 5em;
}

.account h4 {
	font-size: 3em;
	color: #f9f5f2;
	text-align: center;
}

.account_options {
	font-size: 1.25em;
	float: left;
	margin-left: 20%;
	padding-right: 5%;
}

.account_info {
	float: left;
}

.account_greeter {
	font-size: 1.75em;
}

.account_characteristic {
	font-size: 1.25em;
}

.account_data {
	font-size: 1.25em;
	margin-top: -1.25em;
	color: #a4a4a4;
}

#account_edit {
	background-color: #f9f5f2;
	color: #2b2928;
	border: none;
	padding: 1em 2em 1em 2em;
	font-size: 1.25em;
}

/* Media query for tablet viewport targets screen size with a minimum width of 769px. */
@media only screen and (max-width: 1000px) {
	.checkout_table {
		max-width: 100%;
	}
	
	.articles {
		max-width: 70%;
	}

	.contact p {
		max-width: 70%;
	}

	#contact_name, #contact_email, #contact_message {
		width: 80%;
	}

	.checkout {
		display: none;
	}

	.mobile {
		display: block;
		font-size: 3em;
		text-align: center;
	}
}

/* Footer */

footer {
	display: block;
	padding-top: 5em;
	padding-bottom: 5em;
	color: #8e8e8e;
	text-align: center;
}